/node_modules

*.class
*.class

path
*.project
*.settings/
HELP.md

#Build directory
/build

/build

#Package Files
*.jar

*.war

*.ear



#Executable Files

*.exe



# Target directory

/target


#logs
/logs